*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board{
    position: absolute;
    top: calc(50% - 25vw);
    left: calc(50% - 25%);
    width: 50%;
    height: 50vw;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

span{
    position: absolute;
    width: 50%;
    height: 50%;
}

span:nth-child(1){
    background-color: red;
}

span:nth-child(2){
    right: 0;
}

span:nth-child(3){
    bottom: 0;
    left: 0;
}

span:nth-child(4){
    bottom: 0;
    right: 0;
    background-color: red;
}

h1{
    text-align: center;
    position: relative;
    top: 90vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}