@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;700&display=swap');

/* font-family: 'Saira Condensed', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header{
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header img{
    height: 50%;
    bottom: 0;
    right: 0;
}

header > *{
    position: absolute;
}

header .welcome{
    z-index: 1;
    top: 7%;
    left: 5%;
    right: 5%;
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

header h1{
    margin-top: 15px;
    font-size: 20px;
}

header h2{
    font-size: 20px;
    font-weight: normal;
}

header button{
    font-family: 'saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}
@media(orientation: portrait) and (min-width: 360px){
    header h1{
        font-size: 24px;
    }

    header h2{
        font-size: 24px;
    }

    header button{
        margin: 24px;
        line-height: 40px;
        font-size: 16px;
    }
}

@media(orientation: portrait) and (min-width: 410px){
    header h1{
        font-size: 26px;
    }

    header h2{
        font-size: 26px;
    }

    header button{
        line-height: 50px;
        font-size: 20px;
    }

    header img{
        right: -20%;
    }
}

@media(orientation: portrait) and (min-width: 768px){
    header p{
        font-size: 80px;
    }
    
    header h1{
        font-size: 32px;
    }

    header h2{
        font-size: 32px;
    }

    header button{
        margin-top: 60px;
        line-height: 60px;
        font-size: 24px;
    }

    header img{
        right: -20%;
    }
}

@media (orientation: landscape){
    header img{
        height: 80%;
        bottom: 0;
        right: -5%; 
    }

    header .welcome{
        top: 15%;
        left: 5%;
        right: 48%;
    }

    header button{
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 640px){
    header h1{
        font-size: 24px;
    }

    header h2{
        font-size: 24px;
    }

    header button{
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation: landscape) and (min-width: 1024px){
    header .welcome{
        left: 3%;
    }
    
    header p{
        font-size: 56px;
    }

    header h1{
        margin-top: 40px;
        font-size: 34px;
    }

    header h2{
        font-size: 34px;
    }

    header button{
        margin-top: 80px;
        font-size: 24px;
        line-height: 60px;
    }
    header img{
        right: -22%;
        height: 85%;
    }
}

@media (orientation: landscape) and (min-width: 1280px){

    header .welcome{
        text-align: left;
    }

    header p{
        font-size: 100px;
    }

    header h1{
        margin-top: 40px;
        font-size: 50px;
    }

    header h2{
        font-size: 50px;
    }

    header button{
        margin-top: 100px;
        font-size: 30px;
        line-height: 80px;
        padding: 0 40px;
        border-width: 2px;
    }

    header img{
        right: -18%;
    }
}

@media (orientation: landscape) and (min-width: 1600px){

    header .welcome{
        left: 6%;
    }

    header p{
        font-size: 120px;
    }

    header h1{
        margin-top: 40px;
        font-size: 60px;
    }

    header h2{
        font-size: 60px;
    }

    header button{
        line-height: 90px;
    }

}

@media (min-width: 1024px){

    header button{
        cursor: pointer;
        transition: 0.3s;

    }
    header button:hover{
        background-color: white;
        color: #111;
    }

    header img {
        right: -8%;
    }
}

footer{
    min-height: 30vh;
}

.features{
    max-width: 1600px;
    margin: 50px auto 0;
    padding: 5%;
    text-align: center;
}

.features h1{
    font-family: 'saira condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features h2{
    font-family: 'saira condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.features img{
    width: 100%;
    margin: 5px 0;
    max-width: 375px;

}

.features p{
    font-family: 'saira', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 20px 0;
}

@media (min-width: 360px){
    
    .features h1{
        font-size: 28px;
    }

    .features h2{
        font-size: 24px;
    }

    .features p{
        font-size: 14px;
    }
}

@media (min-width: 768px){

    .features h1{
        font-size: 34px;
    }

    .features h2{
        font-size: 28px;
    }

    .features p{
        font-size: 18px;
    }
}

@media (min-width: 1024px){

    .feature{
        float: left;
        width: 33%;
        padding: 20px;

    }

    .features{
        padding: 5% 2%;
    }

    .features h1{
        font-size: 34px;
    }

    .features h2{
        font-size: 22px;
    }

    .features p{
        font-size: 16px;
        line-height: 120%;
        padding: 0 10px;
    }
}

@media (min-width: 1600px){

    .feature{
        padding: 20px 40px;
    }

    .features{
        padding: 5% 2%;
    }

    .features h1{
        font-size: 60px;
    }

    .features h2{
        font-size: 32px;
    }

    .features p{
        font-size: 21px;
        line-height: 160%;
        padding: 0 10px;
    }
}

.portfolio{
    background-color: #222;
    padding: 10px 0 30px;
}

.portfolio h1{
    font-family: "saira condensed",sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.portfolio .web img{
    width: 100%;
}

.portfolio .about{
    color: white;
    font-family: 'saira',sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0;
    text-align: left;

}

.portfolio .about h2{
    font-size: 18px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
}

.portfolio .about p{
    font-size: 12px;
    padding-left: 20px;
}

.portfolio .project{
    margin: 0 auto 20px;
    max-width: 1400px
}

.portfolio .project:nth-of-type(odd){
    background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even){
    background-color: #29a6dc;
}

@media(min-width: 768px){
    .portfolio h1{
        font-size: 40px;
    }

    .portfolio .about h2{
        font-size: 28px;
        text-indent: 40px;
    }
    
    .portfolio .about p{
        font-size: 18px;
        padding-left: 40px;
    }

    .portfolio .project{
        margin-bottom: 40px;
    }
}

@media (orientation: landscape){
    .web,.about{
        width: 50%;
        float: left;
    }

    .web img{
        display: block;
    }

    .portfolio .project:nth-of-type(even) .web{
        float: right;
    }

    .portfolio .project:nth-of-type(even) .about{
        padding-right: 0;
    }

    .portfolio .project:nth-of-type(even) .about p{
        padding-right: 20px;
    }

    .portfolio .project:nth-of-type(even) .about h2{
        text-indent: 0;
        margin-left: 40px;
    }
}

@media (orientation: landscape) and (min-width: 1400px){
    .portfolio h1{
        font-size: 60px;
        padding:30px 0;
    }

    .portfolio .about h2{
        padding-top: 50px;
        margin-bottom: 40px;
        
    }
    
    .portfolio .about p{
        line-height: 200%;
    }

    .portfolio .project{
        margin-bottom: 40px;
    }
}

.slogan{
    text-align: center;
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: center;
    
    color: white;
    background-attachment: fixed;
    
}

.slogan h1{
    font-family: 'saira condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.slogan p{
    font-family: 'saira',sans-serif;
    font-size: 18px;
}

.slogan p.author{
    margin-top: 20px;
    font-size: 12px;
}

.slogan .bg{
    background-color: rgba(0,63,114,0.5);
    padding: 30px 10px;
}

@media (orientation: landscape){
    .slogan p{
        width:70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px){
    .slogan .bg{
        padding: 50px 10px;

    }

    .slogan h1{
        font-size: 38px;
        margin-bottom: 35px;
    }
    
    .slogan p{
        font-size: 26px;
        width: 60%;
        margin: 0 auto;
    }
    
    .slogan p.author{
        margin-top: 40px;
        font-size: 18px;
    }
}

@media(min-width: 1024px){
    .slogan .bg{
        padding: 80px 10px;

    }

    .slogan h1{
        font-size: 60px;
        margin-bottom: 55px;
    }
    
    .slogan p{
        font-size: 40px;
        width: 50%;
        margin: 0 auto;
    }
    
    .slogan p.author{
        margin-top: 40px;
        font-size: 26px;
    }
}